<h1>shows user info</h1>

<%
=begin%>
 <p><strong>Name: </strong><%= @user.name %></p> 
<%
=end%>
<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email:</strong><%= @user.email %></p>
<p><strong>Password: </strong><%= @user.password %></p>